.tag {
	background-color: var(--transp-color);
	display: inline-block;
	padding: 7px 20px;
	color: var(--bright-color);
	border-radius: 25px;
	font-size: 1.2rem;
	margin-bottom: 10px;
	text-align: center;
	font-weight: 300;
}

.career_tags {
	width: 160px;
}
.project_tags {
	margin-right: 10px;
}
