.text {
	text-align: justify;
}
.paragraph {
	margin: 50px 0 60px 0;
}

.h1 {
	margin: 0;
	text-align: center;
}
.hightlight {
	color: var(--bright-color);
	font-weight: 400;
}

.tags,
.margin {
	margin-bottom: 120px;
}
.tags {
	display: flex;
	justify-content: space-evenly;
	flex-wrap: wrap;
}

/* DOWNLOAD BUTTON */
.download {
	display: flex;
	justify-content: center;
	align-items: center;
	font-weight: 300;
	font-size: 1.4rem;
}
.icon {
	margin-left: 15px;
	fill: var(--bright-color);
}
.download:hover {
	color: var(--bright-color);
}

.footer {
	position: fixed;
	bottom: 0;
	left: 0;
	width: 100%;
	background: linear-gradient(
		180deg,
		rgba(4, 43, 56, 0) 0%,
		rgba(4, 43, 56, 1) 40%,
		rgba(4, 43, 56, 1) 100%
	);
	padding: 70px 0 30px 0;
	text-align: center;
}

/* MEDIA QUERIES */
@media (min-width: 900px) {
	.container {
		width: 70%;
	}
}
