.text {
	text-align: justify;
}
.paragraph {
	margin: 50px 0 60px 0;
}

.h1 {
	margin: 0;
	text-align: center;
}
.hightlight {
	color: var(--bright-color);
}
.hightlight,
.download,
.link {
	font-weight: 300;
}
.link {
	display: inline-flex;
	align-items: center;
}
.link .icon,
.download .icon {
	transition: 500ms ease;
}
.download .icon {
	width: 1.4rem;
	height: 1.4rem;
	margin-left: 13px;
}
.link .icon {
	transform: rotate(-135deg);
	width: 1rem;
	height: 1rem;
	margin-left: 8px;
}
.link:hover > .icon {
	transform: rotate(225deg);
}
.download:hover > .icon {
	transform: rotate(360deg);
	fill: var(--bright-color);
}

.tags,
.texts {
	margin-bottom: 120px;
}
.tags {
	display: flex;
	justify-content: space-evenly;
	flex-wrap: wrap;
}

/* DOWNLOAD BUTTON */
.download {
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 1.4rem;
}
.icon {
	margin-left: 15px;
	fill: white;
	transition: 500ms ease;
}
.download:hover {
	color: var(--bright-color);
}
.download:hover > .icon {
	fill: var(--bright-color);
	transform: rotate(360deg);
}

.footer {
	position: fixed;
	bottom: 0;
	left: 0;
	width: 100%;
	background: linear-gradient(
		180deg,
		rgba(4, 43, 56, 0) 0%,
		rgba(4, 43, 56, 1) 40%,
		rgba(4, 43, 56, 1) 100%
	);
	padding: 70px 0 30px 0;
	text-align: center;
}

/* MEDIA QUERIES */
@media (min-width: 900px) {
	.container {
		width: 70%;
	}
}
