.p {
	font-size: 1rem;
	color: var(--light-mode-bright-color);
	margin: 0;
}

/* DARK MODE */
.dark_p {
	color: var(--dark-mode-bright-color);
}

@media (min-width: 1100px) {
	.p {
		font-size: 1.1rem;
		margin-bottom: 5px;
	}
}
