.h1 {
	margin: 0;
	font-size: 2rem;
	font-weight: 400;
	line-height: inherit;
}
.bold_h1 {
	font-size: clamp(2.1rem, 1.9359rem + 0.8205vw, 2.5rem);
	font-weight: 900;
	text-transform: uppercase;
}
.bold_h1.span {
	padding-left: 10px;
}
.center_h1 {
	text-align: center;
}

.text_container {
	transition: 1s ease-out;
	position: relative;
	overflow: hidden;
	clip-path: polygon(0 100%, 100% 100%, 100% 100%, 0 100%);
}
.display_text_container {
	clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
}

.h2 {
	text-align: center;
	font-size: 2rem;
	margin-bottom: 70px;
	color: white;
}

/* MEDIA QUERIES */
@media (min-width: 650px) {
	.bold_container {
		display: flex;
		align-items: center;
	}
	.h1 {
		margin-right: 4px;
	}
}
