@keyframes display-underline {
    0% {
        transform: scaleX(0);
    }
    100% {
        transform: scaleX(1);
    }
}
@keyframes hide-underline {
    0% {
        transform: scaleX(1);
    }
    100% {
        transform: scaleX(0);
    }
}

@font-face {
    font-family: 'hindlight';
    src: url('font/hind/hind-light-webfont.eot');
    src: url('font/hind/hind-light-webfont.eot?#iefix') format('embedded-opentype'),
         url('font/hind/hind-light-webfont.woff2') format('woff2'),
         url('font/hind/hind-light-webfont.woff') format('woff'),
         url('font/hind/hind-light-webfont.ttf') format('truetype'),
         url('font/hind/hind-light-webfont.svg#hindlight') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

body {
    margin: 0;
}

* {
    font-family: 'hindlight', sans-serif;
    font-weight: normal;
    color: #333333;
    box-sizing: border-box;
}
h1, h3, .languages p, .job-div__details h3, .career span:not(.job-div span) {
    font-weight: bold;
}
h2, header li a, footer a {
    text-transform: uppercase;
}
h1 {
    font-size: 2rem;
}
h1, h2 {
    text-align: center; 
}
h2 {
    margin: 0 0 30px 0;
}

.languages p, label, .career span, .job-div__details h3 {
    color: #007980;
}

a {
    text-decoration: none;
}
ul:not(.job-div__details ul) {
    padding: 0;
    margin: 0;
}
li:not(.job-div__details li) {
    list-style-type: none;
}

section {
    padding: 50px 0;
}
section .container, .presentation, header .container, main, .photos h2 {
    width: 90%;
    margin: auto;
}
header, .about .container, .about img, figure img {
    width: 100%;
}

img:not(header img) {
    object-fit: cover;
    border: solid 1px rgba(51,51,51, 0.3);
}

header {
    background-color: rgba(255,255,255, 0.7);
    position: fixed;
    width: 100%;
    height: 50px;
    z-index: 10;
}
header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}
header img {
    width: 30px;
    height: 30px;
}
.menu {
    position: fixed;
    top: 50px;
    right: 0;
    height: 100vh;
    width: 70vw;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transform: translateX(100%);
    transition: transform 400ms;
}
.display {
    transform: translateX(0);
}
.menu ul {
    transform: translateY(-50%);
}
.menu li {
    margin-bottom: 20px;
    text-align: center;
}
.underline {
    margin-bottom: -2px;
    width: 100%;
    height: 1.5px;
    background: rgba(0,121,128, 0.8);
    transform-origin: right;
    animation: hide-underline 300ms linear forwards;
}
.menu a:hover, footer a:hover {
    color: #007980;
    margin-top: 2px;
}
.menu li a:hover > .underline, footer a:hover > .underline {
    transform-origin: left;
    animation: display-underline 300ms linear forwards;
}

.overlay {
    position: fixed;
    z-index: 5;
    width: 100%;
    height: 100%;
    background-color: rgba(0,21,23, 0.8);
}

.menu-icon, .menu-icon::before, .menu-icon::after {
    width: 20px;
    height: 2.5px;
	background-color: #333333;
}
.menu-icon {
	position: relative;
}
.menu-icon::before, .menu-icon::after {
	content:"";
	position: absolute;
}
.menu-icon::before {
	top: 6px;
}
.menu-icon::after {
	top: -6px;
}

.close-cross, .close-cross::before {
    display: inline-block;
	width: 17px;
	height: 2px;
	background-color: #333333;
	position: relative;
	transform: rotate(45deg);
}
.close-cross::before {
	content: "";
	position: absolute;
	transform: rotate(90deg);
}

.btn--arrow {
	display: inline-block;
    margin-top: 40px;
    transform-origin: left;
    transition: transform 200ms;
}
.btn--arrow a {
	margin-right: 10px;
    font-size: 1.1rem;
    color: #007980;
}
.arrow {
	position: relative;
	display: flex;
	align-items: center;
    margin-top: 5px;
}
.line {
	width: 100%;
	height: 2px;
	background-color: #007980;
}
.chevron {
    width: 8px;
    height: 8px;
	border-right: solid 2px #007980;
	border-top: solid 2px #007980;
	transform: rotate(45deg);
	position: absolute;
	right: 0;
}
.btn--arrow:hover {
    transform: scale(1.1);
}
.btn--arrow:hover > .arrow {
    transform-origin: left;
    animation: display-underline 300ms linear;
}

.about {
    padding-bottom: 30px;
    overflow: hidden;
}
.about img {
    width: 400px;
    height: 397px;
}
.about .container {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.presentation {
    margin-top: 20px;
}
.presentation h1, .presentation h2 {
    font-size: 2rem;
    text-align: left;
} 
.presentation h1 {
    margin: 15px 0 8px 0;
}
.presentation h2 {
    text-transform: none;
    margin: 0;
}

.photos h2 {
    margin-bottom: 30px;
}
#projects {
    padding-bottom: 10px;
}
figure {
    margin: 0 auto 40px auto;
    max-width: 450px;
}
.project__img {
    height: 250px;
    width: 100%;
}
figure .img-container {
    position: relative;
}
.languages {
    position: absolute;
    top: 0;
    right: -1px;
    background-color: rgba(255,255,255, 0.8);
    padding: 10px;
}
.languages p {
    margin: 0;
    text-align: center;
}
figure h3 {
    margin: 5px 0 0 0;
    font-size: 1rem;
}
figure p {
    margin-top: 5px;
}

.more {
    background-color: #007980;
}
.more h2, .more .btn--arrow a {
    color: white;
}
.more .line {
    background-color: white;
}
.more .chevron {
    border-color: white;
}
.more .container {
    height: 350px;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    justify-content: space-between;
}
.more h2 {
    width: 100%;
}

form {
    max-width: 540px;
    display: flex;
    flex-direction: column;
    margin: auto;
}
input, textarea {
    padding: 10px;
    margin-bottom: 8px;
    border-radius: 0;
    border: solid 1px rgba(51,51,51, 0.2);
    font-size: 1.1rem;
}
input:focus, textarea:focus {
    outline: none;
    border-color: #007980;
}
form p {
    margin-top: 0;
    font-size: 0.9rem;
}
.error {
    color: #A10010;
    border-color: #A10010;
}
#contact .btn {
    border: solid 2px #007980;
    background: #007980;
    color: white;
    font-size: 1.1rem;
}
label {
    font-size: 0.9rem;
}

.form-res {
    height: 100vh;
    display: flex;
    flex-direction: column;
}
.form-res h1 {
    text-align: left;
}

.anchor-up {
    display: inline-block;
    position: fixed;
    right: 15px;
    bottom: 110px;
    width: 40px;
    height: 40px;
    border: solid 2px #333333;
    border-radius: 50px; 
}
.anchor-up::before {
	content:"";
	position: absolute;
	top:50%;
	left:50%;
	width:15px;
	height: 15px;
	border-left: solid 2px #333333;
	border-top: solid 2px #333333;
	transform: rotate(45deg) translate(-50%,25%);
}

footer {
    text-align: center;
    border-top: solid 2px #007980;
    padding: 30px 0 50px 0;
}
footer ul {
    display: flex;
    justify-content: center;
}
footer li {
    margin: 0 8px;
}

.career {
    text-align: justify;
}
.career p:not(.job-div p) {
    line-height: 25px;
}
.career h1 {
    margin-bottom: 70px;
}
.introduction .container {
    width: 100%;
}
#beginning, #twist, #new-start {
    padding: 0;
}
#beginning h2, #twist h2, #new-start h2 {
    margin: 20px 0;
    display: flex;
    align-items: center;
}
#new-start p:last-of-type:not(.job-div p) {
    margin: 40px 0 0 0;
}
#new-start .btn--arrow {
    margin-bottom: 20px;
}
.container--left {
    border-left: solid 1px #333333;
    padding: 1px 10px 1px 20px;
}
.to-be-continued {
    margin: 20px 0 50px 0;
    text-align: left;
}
.chevron-down, .chevron-up {
    display: inline-block;
    width: 8px;
    height: 8px;
    border-right: solid 1.5px #333333;
    border-top: solid 1.5px #333333;
    margin-left: 10px;
}
.chevron-down {
    transform: rotate(135deg);
}
.chevron-up {
    transform: rotate(-45deg);
}

.job-div {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 80%;
    max-width: 460px;
    min-height: 150px;
    padding: 15px;
    background-color: white;
    z-index: 6;
    display: flex;
    flex-direction: column;

}
.job-div .close-cross {
    position: absolute;
    right: 15px;
    top: 20px;
}
.job-div li {
    margin-bottom: 5px;
    text-align: left;
}
.job-div__date {
    text-align: right;
    font-size: 2.5rem;
    margin: 0;
    color: rgba(51,51,51, 0.6);
}
.job-div__details {
    flex: 1;
    margin-top: 20px;
}
.job-div__details h3 {
    margin-bottom: 5px;
}
.job-div__details p {
    margin-top: 5px;
}
.job-div__details h3, .job-div__details p {
    font-size: 1.2rem;
}
.job-div__details ul {
    padding-left: 25px;
}
.job:hover {
    cursor: pointer;
}


.hidden, header nav {
    display: none;
}

@media (min-width: 442px) {
    .about .container {
        width: 90%;
        margin: auto;
    }
    .presentation {
        width: 100%;
    }
}

@media (min-width: 500px) {
    .about .container {
        align-items: flex-end;
    }
    .about img {
        box-shadow: 27px 27px 0px 0px #007980;
        margin-right: 27px;
        margin-top: 10px;
    }
    .profile__photo {
        border: none;
    }
    .presentation {
        margin-top: 50px;
    }
    h2:not(.about h2):not(.career h2) {
        margin-bottom: 40px;
    }
}

@media (min-width: 650px) {
    header .close-cross, .menu-icon {
        display: none;
    }
    .menu {
        transform: translateX(0);
        display: flex;
        position: static;
        width: 100%;
        height: 100%;
        background: transparent;
        flex-direction: row;
        justify-content: flex-end;
    }
    .menu ul {
        display: flex;
        transform: none;
    }
    .menu li {
        margin: 0 0 0 50px;
    }
    #projects .container, .photos .container {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    #projects a, .photos a {
        width: 48%;
        display: inline-block;
    }
    #projects h2 {
        width: 100%;
    }
    .photos a {
        width: 49.5%;
    }
}

@media (min-width: 800px) {
    section:not(.about) {
        padding: 70px 0;
    }
    .about {
        padding-bottom: 50px;
    }
    .about .container {
        flex-direction: row-reverse;
        margin-top: 20px;
    }
    .presentation {
        margin: 0;
    }
}

@media (min-width: 900px) {
    #projects a {
        width: 33%;
    }
    .about img {
        box-shadow: 40px 40px 0px 0px #007980;
        margin-right: 40px;
    }

    .photos .container {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        gap: 10px;
    }
    .photos a {
        width: 100%;
        display: inline-flex;
    }
    .website-grid__first {
        grid-column: 1/4;
    }
    .website-grid__second {
        grid-row: 2/4;
    }
    .website-grid__second img {
        height: 510px;
    }
    .kanap-grid__third, .leslie-grid__third, .leslie-grid__fourth {
        grid-column: 2/4;
    }

    .career {
        width: 80%;
    }
}

@media (min-width: 1100px) {
    .about img {
        box-shadow: 55px 55px 0px 0px #007980;
        margin-right: 55px;
    }
}

@media (min-width: 1200px) {
    .container, h2 {
        max-width: 1375px;
    }
    .about img {
        box-shadow: 70px 70px 0px 0px #007980;
        margin-right: 70px;   
    }
    .about {
        padding: 70px 0 100px 0;
    }
    .career {
        width: 60%;
        max-width: 1000px;
    }
}