.btn {
	border: solid 1px var(--bright-color);
	color: var(--bright-color);
	background: transparent;
	padding: 10px 15px;
	font-weight: 300;
	font-size: 1.4rem;
	display: inline-block;
	text-align: center;
	width: 100%;
}

/* HOVER */
.btn:hover,
.btn:focus {
	cursor: pointer;
	background: rgba(54, 180, 197, 0.2);
	border-color: transparent;
}
.btn:focus-visible {
	outline: none;
}

/* MEDIA QUERIES */
@media (min-width: 500px) {
	.btn {
		width: auto;
	}
	.large_btn {
		width: 100%;
	}
}
