.button {
    border: solid 3px var(--bright-color);
    color: var(--bright-color);
    background: transparent;
    padding: 10px 15px;
    font-weight: 600;
    display: inline-block;
    font-size: 0.9rem;
}

.text {
    color: var(--bright-color);
    font-weight: 600;
}