.btn {
	border: solid 3px var(--bright-color);
	color: var(--bright-color);
	background: transparent;
	padding: 10px 15px;
	font-weight: 500;
	display: inline-block;
	font-size: 1.4rem;
	display: flex;
	justify-content: center;
	align-items: center;
}
.btn:hover {
	cursor: pointer;
}

.btn_icon {
	margin: 0 0 -3px 10px;
	stroke-width: 2.4;
	stroke-linecap: inherit;
	stroke-linejoin: inherit;
	width: 1.7rem;
	height: 1.7rem;
	stroke: var(--bright-color);
}

@media (min-width: 600px) {
	.btn {
		display: inline-flex;
		font-size: 1.2rem;
	}
	.large_btn {
		width: 100%;
	}
}
