.container {
	text-align: center;
}
.career_container {
	width: 250px;
	margin-bottom: 50px;
	margin: 0 auto 50px auto;
}
.career_container:hover {
	cursor: pointer;
}

.summary {
	margin: 0;
	line-height: 2.2rem;
	font-size: 1.4rem;
}
.title {
	margin: 17px 0 0 0;
	font-size: 1.4rem;
}

.white_c {
	color: white;
}
.active {
	color: var(--light-mode-bright-color);
}

/* DARK MODE */
[data-theme='dark'] .active {
	color: var(--dark-mode-bright-color);
}

/* MEDIA QUERIES */
@media (min-width: 900px) {
	.title {
		font-size: 1.2rem;
	}
	.career_container {
		position: absolute;
		width: 200px;
		margin: 0;
		opacity: 0;
	}
	.career_container:hover,
	.hover {
		opacity: 1;
	}
	.commerce,
	.prep {
		bottom: 0;
	}
	.training,
	.goals {
		top: 0;
	}
	.prep,
	.goals {
		right: 2%;
	}
	.commerce,
	.training {
		left: 2%;
	}
}
/* DESKTOP */
@media (min-width: 1100px) {
	.home_container {
		width: 80%;
		margin: auto;
	}
	.prep,
	.goals {
		right: 10%;
	}
	.commerce,
	.training {
		left: 10%;
	}
}
