.container {
	text-align: center;
}
.career_container {
	width: 275px;
	margin-bottom: 50px;
}
.title,
.summary {
	font-size: 1.4rem;
	margin: 0;
}
.title {
	margin-top: 17px;
}

.white_c {
	color: white;
}
.active {
	color: var(--bright-color);
}
