/* CONTAINER */
.introduction {
	margin-bottom: 50px;
}
.presentation {
	text-align: left;
}
.description {
	margin: 10px 0 45px 0;
}
.picture_container {
	margin-top: 70px;
}
.overlay {
	position: fixed;
	z-index: 3000;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: var(--dark-bgc);
}

/* ELEMENTS */
.h1 {
	margin: 0;
}
.text {
	text-align: justify;
}
.tags {
	margin-top: 8px;
}
.full_img {
	object-fit: contain;
}
.pictures {
	margin: 50px 0;
}
.img_container {
	width: 100%;
	max-width: 450px;
	margin: auto;
	position: relative;
	height: 350px;
	overflow: hidden;
	transition: 800ms ease-out;
	clip-path: polygon(0 100%, 100% 100%, 100% 100%, 0 100%);
	margin-bottom: 10px;
}
.img_large {
	max-width: 700px;
}

.img {
	object-position: top;
	transform: scale(1.3);
	transition: 2s ease-out;
	object-fit: cover;
}
.img_container:hover {
	cursor: pointer;
	opacity: 1;
}

/* ANIMATIONS */
.display_container {
	clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
}
.display_img {
	transform: scale(1);
	transition: 3s ease-out;
}

/* MEDIA QUERIES */
@media (min-width: 500px) {
	.picture_container {
		height: 500px;
		position: relative;
	}
	.img_container {
		display: inline-flex;
		position: absolute;
		right: 0;
		bottom: 0;
	}
}
/* LAPTOP */
@media (min-width: 900px) {
	.introduction,
	.pictures {
		margin-bottom: 70px;
	}
	.presentation {
		margin-right: 60px;
	}
	.picture_container {
		margin-top: 70px;
	}
	.picture_container_tall {
		height: 850px;
	}
	.img_container {
		margin-bottom: 0;
	}
    .display_container {
        opacity: 1;
    }
	.img_tall {
		height: 700px;
	}
	.full_img {
		max-width: 90%;
		max-height: 90%;
		margin: auto;
	}
}
/* DESKTOP */
@media (min-width: 1100px) {
	.presentation {
		margin-right: 100px;
	}
}
