.close {
	text-align: end;
}
.menu_container,
.social {
	display: flex;
	justify-content: space-between;
}
.overlay {
	position: fixed;
	z-index: 2000;
	width: 100vw;
	height: 100vh;
	top: 0;
	left: 0;
	background: var(--dark-bgc);
	transform: translateY(-100%);
	transition: transform 600ms, opacity 600ms;
	opacity: 0;
}
.menu_container {
	flex-direction: column;
	height: 100%;
	padding: 15px 0 30px 0;
}
.display_menu {
	transform: translateY(0);
	opacity: 1;
}

/* ICONS */
.icon {
	width: 35px;
	height: 35px;
}
.int_nav {
	flex: 1;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.social {
	align-items: center;
	justify-content: space-evenly;
}
.social a {
	display: inline-flex;
}

/* LINK */
.text {
	font-size: 2rem;
	text-transform: uppercase;
	text-align: center;
	transform: translateY(-70px);
	margin-bottom: 0;
}
.li {
	margin-top: 30px;
}

/* HOVER */
.icon:hover,
.social a:hover > .icon,
.social a:focus > .icon,
.icon:focus {
	fill: var(--bright-color);
	cursor: pointer;
	transition: 200ms ease;
	transform: scale(1.1);
}
.link:hover > .li,
.link:focus > .li {
	color: var(--bright-color);
	font-weight: 300;
}

/* MEDIA QUERIES */
@media (min-width: 500px) {
	.social {
		justify-content: center;
	}
	.social a {
		margin: 0 15px;
	}
}
@media (min-width: 900px) {
	.icon {
		width: 30px;
		height: 30px;
	}
}
@media (min-width: 1100px) {
	.overlay {
		transform: translateX(-100%);
	}
	.display_menu {
		transform: translateX(0);
	}
}
