.overlay,
.icons,
.social {
	display: flex;
	justify-content: space-between;
}
.overlay {
	position: fixed;
	z-index: 2000;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	background-color: white;
	flex-direction: column;
	padding: 30px;
	transform: translateY(-100%);
	transition: transform 600ms;
	opacity: 0;
}
.displayed_overlay {
	opacity: 1;
	transform: translateY(0);
}
.int_nav {
	flex: 1;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.social {
	align-items: center;
}

.text {
	font-size: 2.1rem;
	text-transform: uppercase;
	text-align: center;
	transform: translateY(-70px);
	margin-bottom: 0;
}
.icon {
	width: 40px;
	height: 40px;
}
.li {
	margin-top: 30px;
}
.icon:hover,
.li:hover {
	color: var(--bright-color);
	fill: var(--bright-color);
}

/* DARK MODE STYLES */
.dark_mode {
	background-color: var(--dark-blue);
}
.dark_mode .icon,
.dark_mode .text {
	color: white;
	fill: white;
}

@media (min-width: 500px) {
	.social {
		justify-content: center;
	}
	.social a {
		margin: 0 15px;
	}
}
@media (min-width: 900px) {
	.icon {
		width: 30px;
		height: 30px;
	}
}
@media (min-width: 1100px) {
	.icons {
		flex-direction: row-reverse;
	}
	.overlay {
		transform: translateX(-100%);
		transition: transform 600ms;
	}
	.displayed_overlay {
		transform: translateX(0);
	}
}
