.overlay,
.icons,
.social {
	display: flex;
	justify-content: space-between;
}
.overlay {
	position: fixed;
	z-index: 2000;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	background-color: white;
	flex-direction: column;
	padding: 30px;
	transform: translateY(-100%);
	transition: transform 600ms, opacity 600ms;
	opacity: 0;
}
.display_menu {
	transform: translateY(0);
	opacity: 1;
}
.int_nav {
	flex: 1;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.social {
	align-items: center;
}
.social a {
	display: inline-flex;
}

.text {
	font-size: 2.1rem;
	text-transform: uppercase;
	text-align: center;
	transform: translateY(-70px);
	margin-bottom: 0;
}
.icon {
	width: 40px;
	height: 40px;
}
.li {
	margin-top: 30px;
}

.icon:hover,
.social a:hover > .icon,
.social a:focus > .icon,
.icon:focus {
	fill: var(--light-mode-bright-color);
	cursor: pointer;
}
.link:hover > .li,
.link:focus > .li {
	background-image: repeating-radial-gradient(
			circle at 0 0,
			transparent 0,
			#008294 6px
		),
		repeating-linear-gradient(#33c3cf, #074b61);
	background-clip: text;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	font-weight: 400;
}

/* DARK MODE STYLES */
.dark_mode {
	background-color: var(--dark-color);
}
.dark_mode .icon,
.dark_mode .text {
	color: white;
	fill: white;
}
.dark_mode .icon:hover,
.dark_mode .icon:focus,
.dark_mode .social a:focus > .icon {
	color: var(--dark-mode-bright-color);
	fill: var(--dark-mode-bright-color);
}

@media (min-width: 500px) {
	.social {
		justify-content: center;
	}
	.social a {
		margin: 0 15px;
	}
}
@media (min-width: 900px) {
	.icon {
		width: 30px;
		height: 30px;
	}
}
@media (min-width: 1100px) {
	.overlay {
		transform: translateX(-100%);
	}
	.display_menu {
		transform: translateX(0);
	}
}
