.container {
	width: 200px;
	height: 200px;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 500px;
	background-color: var(--dark-color);
}
.svg {
	width: 120px;
	height: 104px;
}
.elt {
	fill: white;
}
.elt:hover,
.active,
.elt:focus {
	fill: var(--light-mode-bright-color);
}
.elt:hover,
.active,
.dark_mode_active {
	cursor: pointer;
}
.dark_mode_active {
	fill: var(--dark-mode-bright-color);
}

@media (min-width: 900px) {
	.container {
		width: 300px;
		height: 300px;
	}
	.svg {
		width: 200px;
		height: 173.47px;
	}
}
