.container {
	width: 200px;
	height: 200px;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 500px;
	background-color: var(--dark-blue);
}
.svg {
	width: 120px;
	height: 104px;
}
.elt {
	fill: white;
}
.elt:hover,
.active {
	fill: var(--bright-color);
}
