.main {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	height: 100%;
}
.logo_container {
	position: sticky;
	top: 57px;
	width: 100vw;
	padding: 20px;
	margin: 20px 0 10px 0;
	display: flex;
	justify-content: center;
	background: linear-gradient(
		0deg,
		rgba(4, 43, 56, 0) 0%,
		rgba(4, 43, 56, 1) 40%,
		rgba(4, 43, 56, 1) 100%
	);
	backdrop-filter: blur(5px);
}
.explanations {
	display: none;
}

.h1 {
	margin: 0;
}

.xp_summary:focus {
	color: var(--bright-color);
}

/* MEDIA QUERIES */
@media (min-width: 700px) {
	.flex {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-evenly;
		margin-top: 70px;
	}
	.xp_summary {
		margin: 0 50px;
	}
}
@media (min-width: 900px) {
	.desktop_container {
		position: relative;
		width: 100%;
		margin: 50px 0 70px 0;
	}
	.logo_container {
		padding: 0;
		margin: 8px 0 8px 0;
		width: 100%;
	}
	.explanations {
		display: block;
		font-size: 1rem;
		margin: 0;
		font-weight: 300;
	}
}
