.main {
	display: flex;
	flex-direction: column;
	align-items: center;
}
.title {
	margin-top: 0;
}
.logo_container {
	position: sticky;
	top: 52px;
	width: 100vw;
	padding: 20px;
	margin-bottom: 10px;
	display: flex;
	justify-content: center;
	background-color: white;
}
.explanations {
	display: none;
}

.xp_summary:focus {
	color: var(--light-mode-bright-color);
}

/* DARK MODE */
html[data-theme='dark'] .logo_container {
	background-color: var(--dark-mode-bgc);
}
html[data-theme='dark'] .xp_summary:focus {
	color: var(--dark-mode-bright-color);
}

/* MEDIA QUERIES */
@media (min-width: 700px) {
	.flex {
		display: flex;
		flex-wrap: wrap;
	}
}
@media (min-width: 900px) {
	.desktop_container {
		position: relative;
		width: 100%;
		margin: 50px 0 70px 0;
	}
	.logo_container {
		padding: 0;
		margin: 8px 0 8px 0;
		width: 100%;
	}
	.explanations {
		display: block;
		font-size: 1rem;
		margin: 0;
		font-weight: 300;
	}
}
