.link {
	display: inline-block;
	margin-bottom: 70px;
}
.link,
.img {
	width: 100%;
}
.img {
	position: absolute;
	object-fit: cover;
	object-position: top;
	transform: scale(1.3);
	transition: 2s ease-out;
}
.img_container {
	display: inline-block;
	width: 100%;
	max-width: 500px;
	height: 250px;
	position: relative;
	overflow: hidden;
	transition: 1s ease-out;
	transition-delay: 0.2s;
	clip-path: polygon(0 100%, 100% 100%, 100% 100%, 0 100%);
	border: solid 2px rgba(4, 43, 56, 0.15);
}
.display_container {
	clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
}
.display_container .img {
	transform: scale(1);
	transition: 3s ease-out;
}

.tags {
	margin-top: 15px;
}

/* HOVER */
.link:focus > .card > .img_container > .img,
.link:hover > .card > .img_container > .img {
	transform: scale(1.05) rotate(-1deg);
}

/* MEDIA QUERIES */
@media (min-width: 700px) {
	.link {
		width: 49%;
	}
}
