:root {
	--light-mode-bright-color: #008294;
	--dark-color: #042b38;

	/* DARK MODE */
	--dark-mode-bright-color: #33c3cf;
	--dark-mode-bgc: #074b61;
}

* {
	box-sizing: border-box;
	font-weight: 300;
}
body {
	margin: 0;
	display: flex;
	flex-direction: column;
	height: 100vh;
	color: var(--dark-color);
}
main {
	flex: 1;
	margin-top: 57px;
	padding-top: 45px;
}

/* GENERAL */
h1,
h2,
::placeholder,
input,
textarea {
	font-weight: 400;
}
h2 {
	margin: 0 0 50px 0;
}
h3,
.notfound-h1 {
	font-weight: 900;
	text-transform: uppercase;
}

p {
	line-height: 2.2rem;
	font-size: 1.4rem;
}
a {
	color: inherit;
	text-decoration: none;
}
ul {
	padding: 0;
}
li {
	list-style-type: none;
}
:focus {
	outline: none;
}

::placeholder,
input,
textarea {
	font-family: '__Jost_fe0236';
	font-size: 1.4rem;
}
input:focus,
textarea:focus {
	border: solid 1.5px var(--light-mode-bright-color);
}
::placeholder {
	color: rgba(4, 43, 56, 0.4);
}

.container {
	width: 90%;
	margin: auto;
	max-width: 1200px;
}

.white-c {
	color: white;
}
.bright-c {
	color: var(--dark-mode-bright-color);
}
.dark-bgc {
	background-color: var(--dark-color);
}

/* DARK MODE */
.dark_mode {
	background-color: var(--dark-mode-bgc);
	color: white;
}
.dark_mode ::placeholder,
.dark_mode input,
.dark_mode textarea {
	color: white;
	border-color: rgba(255, 255, 255, 0.4);
	font-weight: 300;
}
.dark_mode ::placeholder {
	color: rgba(255, 255, 255, 0.4);
}
.dark_mode input:focus,
.dark_mode textarea:focus {
	border: solid 1.5px var(--dark-mode-bright-color);
}

/* 404 PAGE */
.full-container {
	position: fixed;
	top: 0;
	left: 0;
	z-index: 5000;
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	text-align: center;
}
.notfound-h1 {
	font-size: 6rem;
	margin: 0px;
}
.notfound-p {
	font-weight: 400;
	font-size: 1.7rem;
	margin: 10px 0 100px 0;
	line-height: 2.6rem;
}

/* MEDIA QUERIES */
/* LAPTOP */
@media (min-width: 900px) {
	::placeholder,
	input,
	textarea {
		font-size: 1.1rem;
	}
}
/* DESKTOP */
@media (min-width: 1100px) {
	main {
		padding-top: 70px;
		margin: 0 0 0 50px;
	}
}
