@keyframes introAnimation {
	0% {
		opacity: 0;
		transform: translateY(80%);
	}
	30% {
		opacity: 1;
	}
	100% {
		transform: translateY(0);
		opacity: 1;
	}
}

/* CONTAINER */
.introduction,
.skills {
	margin-bottom: 70px;
}
.presentation {
	margin: 15px 0 50px 0;
}
.flex {
	display: flex;
}

.h1 {
	font-size: 2rem;
	font-weight: 400;
	line-height: inherit;
	font-size: clamp(2.1rem, 1.9359rem + 0.8205vw, 2.5rem);
	font-weight: 900;
	text-transform: uppercase;
}
.h1,
.name_p {
	margin: 0;
}
.hi_p,
.hightlight {
	color: var(--bright-color);
}
.hi_p {
	font-size: 1rem;
	margin: 0;
}
.name_p {
	font-size: 2rem;
	margin-bottom: 5px;
}
.h2 {
	text-align: center;
	font-size: 2rem;
	margin: 50px 0 70px 0;
	color: white;
}
.hightlight {
	font-weight: 300;
}

.arrow_icon {
	transform: rotate(360deg);
}

.download {
	display: flex;
	justify-content: center;
	align-items: center;
	font-weight: 300;
	font-size: 1.4rem;
	margin-top: 35px;
}
.icon {
	width: 1.4rem;
	height: 1.4rem;
	margin-left: 13px;
	fill: var(--bright-color);
}
.download:hover {
	color: var(--bright-color);
}

.skills_container {
	background: var(--transp-color);
	display: flex;
	justify-content: space-evenly;
	flex-wrap: wrap;
	padding: 25px 0;
}
.skill_icon {
	width: 45px;
	height: 45px;
	fill: var(--bright-color);
}

/* ANIMATION */
.anim {
	opacity: 0;
	transform: translateY(80%);
}
.anim1 {
	animation: introAnimation 1s forwards;
}
.anim2 {
	animation: introAnimation 1s 100ms forwards;
}
.anim3 {
	animation: introAnimation 1s 200ms forwards;
}
.anim4 {
	animation: introAnimation 1s 700ms forwards;
}
.anim5 {
	animation: introAnimation 1s 800ms forwards;
}
.anim6 {
	animation: introAnimation 1s 900ms forwards;
}
.anim7 {
	animation: introAnimation 1s 1s forwards;
}
.anim8 {
	animation: introAnimation 1s 1.3s forwards;
}

/* MEDIA QUERIES */
@media (min-width: 500px) {
	.buttons {
		display: flex;
		align-items: center;
	}
	.download {
		margin: 0 0 0 14px;
	}
}
@media (min-width: 600px) {
	.download {
		margin-left: 40px;
	}
	.skills_container {
		justify-content: flex-start;
	}
}

@media (min-width: 700px) {
	.projects_container {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
	}
}

/* DESKTOP */
@media (min-width: 1100px) {
	.hi_p {
		font-size: 1.1rem;
		margin-bottom: 5px;
	}
	.name_p {
		font-size: 2.3rem;
		margin-bottom: 10px;
	}
	.introduction {
		margin: 10px auto 90px auto;
	}
	.presentation p {
		margin: 10px 0;
	}
	.arrow_btn {
		margin-bottom: -5px;
	}
}
