.header {
	background: rgba(7, 232, 228, 0.07);
	backdrop-filter: blur(5px);
	padding: 10px 0;
	position: fixed;
	z-index: 1000;
	width: 100%;
	top: 0;
	left: 0;
}
.container {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.logo {
	vertical-align: middle;
}
.logo_simple {
	display: none;
}

.menu_icon {
	width: 30px;
	height: 30px;
	fill: white;
	transform: rotate(90deg);
}
.social {
	display: none;
}
.icon {
	fill: white;
	width: 20px;
	height: 20px;
	margin-top: 20px;
}

/* HOVER */
.menu_icon:hover,
.social a:hover > .icon,
.menu_icon:focus,
.social a:focus > .icon {
	fill: var(--bright-color);
	cursor: pointer;
	transition: 200ms ease;
	transform: scale(1.1) rotate(90deg);
}

/* MEDIA QUERIES */
@media (min-width: 1100px) {
	.logo_full {
		display: none;
	}
	.logo_simple {
		display: block;
		margin-bottom: 50px;
		width: 30px;
		height: 30px;
	}
	.header {
		height: 100%;
		width: 50px;
		padding: 35px 10px;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
	}
	.header .container {
		flex-direction: column;
		margin-top: 0;
	}
	.social {
		display: flex;
		flex-direction: column;
		text-align: center;
	}
}
