@keyframes rotate {
	0% {
		transform: rotateX(0deg) rotateY(80deg) rotateZ(0deg);
	}
	100% {
		transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg);
	}
}

.container {
	display: inline-flex;
	flex-flow: column;
	align-items: center;
	width: 45%;
	margin: 10px 0;
}
.circle {
	background: var(--dark-bgc);
	width: 80px;
	height: 80px;
	border-radius: 100px;
	margin-bottom: 5px;
	display: flex;
	justify-content: center;
	align-items: center;
	transform: rotateX(0deg) rotateY(74deg) rotateZ(0deg);
}
.text {
	color: var(--bright-color);
	margin: 0;
}

.anim {
	animation: rotate 500ms forwards;
}

@media (min-width: 600px) {
	.container {
		width: 33%;
	}
}
@media (min-width: 800px) {
	.container {
		width: 25%;
		margin: 20px 0;
	}
}
